.top-container {
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.md-lgn-headline{
    font-size: 16px;
    padding-top: 30px;
    padding-right: 10px;
    font-weight: 600;
}

.top-15 {
    padding-top: 15px;
}

.btn-primary {
    background-color: #55acee;
    color: #fff;
}

.btn-secondary {
    background-color: #ffd740;
    color: #000000;
}

.btn-success {
    background-color: #673ab7;
    color: #fff;
}

.btn-info {
    background-color: #b0bec5;
    color: #000000;
}
