.top-container {
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.md-lgn-headline{
    font-size: 16px;
    padding-top: 30px;
    padding-right: 10px;
    font-weight: 600;
}

.btn-secondary {
    background-color: #ffd740;
    color: #000000;
}

.main-div{
    height: 30vh;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.text {
    font-size: 24px;
}